
<div class="container-fluid">
    <app-header></app-header>

    <div class="row">
        <div class="col">
            <br>
            <div>
                <button routerLink="/addemp" class="btn btn-success">Add Employee</button>
                <button class="btn btn-warning" (click)="onUpdate(popUp)" >Update Employee</button>
            </div>

            <ng-template #popUp >                
                <app-updateemployee [parentdata]="empobj" ></app-updateemployee>
                <button class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
            </ng-template>

<br>
            <table class="table table-bordered table-hover">
                <thead>
                    <th>Sr No</th>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Created Date</th>
                    <th>Created By</th>
                    <th>Updatated date </th>
                    <th>Updatated By</th>
                    <th>Country</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of empData;index as i">
                        <td> {{i+1}} </td>
                        <td><input type="radio" (click)="onEdit(item)" name="record"></td>
                        <td> <a [routerLink]="['/details',item.id]">{{item.name}}</a>  </td>
                        <td> {{item.departmentit}} </td>
                        <td><h4><span [ngClass]="{
                            'badge':true,
                            'badge-pill':true,
                            'badge-success':item.status.toLowerCase()==='active',
                            'badge-warning':item.status.toLowerCase()==='inactive',
                            'badge-danger':item.status.toLowerCase()==='suspend'
                        }">{{item.status}}</span></h4>  </td>
                        <td> {{item.createddtm | date:'mediumDate'}} </td>
                        <td> {{item.createdby}} </td>
                        <td> {{item.updateddtm | date:'dd-MM-yyyy' }} </td>
                        <td> {{item.updatedby}} </td>
                        <td> {{item.country.cname}} </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>

