
<div class="row" style="margin-top: 10px">
    <div class="col">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  
        <a class="navbar-brand" style="color: white" routerLink="/home">
          Employee Work Force</a>
  
        <div class="collapse navbar-collapse">
          <div class="navbar-nav ml-auto">
            <span  class="nav-item nav-link"
              style="font-weight: bold; color: whitesmoke"
              >Hi Welcome {{ username }} </span
            >&nbsp;
            <a (click)="onLogout()"
              style="cursor: pointer; font-weight: bold; color: whitesmoke"
              class="nav-item nav-link"
              >LogOut</a >
          </div>
        </div>
      </nav>
    </div>
  </div>
  
  
