<p>switchdirective works!</p>

<label for="">Color name::&nbsp;&nbsp;</label>
<input #inputcolor type="text" placeholder="Enter the color name "> <br><br>
<button (click)="onSend(inputcolor.value)" >Send</button>
<hr>

<div [ngSwitch]="choice">
    <div *ngSwitchCase="'red'"
    [style.background]="choice"
    >Your color name is {{choice}} </div>

    <div *ngSwitchCase="'green'"
    [style.background]="choice"
    >Your color name is {{choice}} </div>

    <div *ngSwitchCase="'blue'"
    [style.background]="choice"
    >Your color name is {{choice}} </div>

    <!-- <div [style.background]="choice==''?'black':'orange'" 
    *ngSwitchDefault
    [style.color]="choice==''?'white':'black'"
    >Your color is wrong {{choice}} </div> -->

    <div [ngStyle]="{
        'background':choice==''?'black':'orange',
        'color':choice==''?'white':'black'
    }"
    *ngSwitchDefault
    
    >Your color is wrong {{choice}} </div>



</div>