
<h2>My First Angular Application </h2>

<!-- <app-employee></app-employee>
<app-student></app-student> -->
<!-- <app-stringinterpolation></app-stringinterpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-eventbinding1></app-eventbinding1> -->
<!-- <app-eventbinding2></app-eventbinding2> -->
<!-- <app-eventbinding3></app-eventbinding3> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-task5></app-task5> -->
<!-- <app-task9></app-task9> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-parent1></app-parent1> -->
<app-parent2></app-parent2>