button{
    margin: 10px;
}
  
  
  
.card{
    width:500px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    border-radius: 26px;
    text-align: justify;   
    transform-style: preserve-3d;
    /* transform: perspective(1000px); */
  }
  
  
 
  .myrgb::after {
    content:"";
    background: linear-gradient(45deg,
    #ff0000 0%, 
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%, 
    #3fdad8 40%,
    #2fc9e2 50%, 
    #1c7fee 60%, 
    #5f15f2 70%, 
    #ba0cf8 80%, 
    #fb07d9 90%, 
    #ff0000 100%  ) repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
    animation: rgb 5s linear infinite;
    border-radius: 16px;
    filter: blur(8px);
    transform: translateZ(-1px); 
   
  }
  
  
  @keyframes rgb {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
    
  } 
  
  